<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Urun Detail</title>
</head>
<body>
    <h1><%= name %> </h1>
    <img src="/images/<%= imgPath %>" alt="" width="300">
    <p>Fiyat : <%= price %> </p>
    <p><% if (isActive) { %>
    <span>Urun satista</span>
    <% } else { %>
     <span>Urun satista degil</span>
    <% } %></p>
</body>
</html>