<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Urun Detail</title>
</head>

<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="/images/<%= imgPath %>" alt="" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= name %>
                                </h5>
                                <p class="card-text">
                                    <%= price %>
                                </p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae eum ratione officiis itaque cum vero, eaque quo fugit dolore amet accusamus ad porro, non eius beatae distinctio laborum natus minus.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illo vero reprehenderit quia laboriosam asperiores autem aperiam repudiandae nulla? Suscipit modi inventore ab, debitis voluptatum ullam quasi veritatis maxime sed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>